.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	&__logo {
		width: 250px;
		img {
			width: 100%;
		}
	}
	&__official {
		font-weight: 500;
		font-size: 12px;
		color: #FFFFFF;
		text-align: center;
		span {
			margin-top: 8px;
			display: block;
			font-size: 18px;
		}
	}
	&__official_min {
		display: none;
		margin: 0 auto;
		margin-bottom: 5px;
		width: 560px;
		font-weight: 500;
		font-size: 10px;
		color: #FFFFFF;
		span {
			font-size: 11px;
		}
	}
	&__phone {
		display: block;
		font-weight: 700;
		font-size: 18px;
		color: #FFFFFF;
		text-decoration: none;
		&:hover {
			color: #FFFFFF;

		}
	}
	&__contacts {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}
}